@font-face {
    font-family: 'Stretto';
    src:    url("../fonts/Stretto-Regular.eot");
    src:    url("../fonts/Stretto-Regular.eot?#iefix")format("embedded-opentype"),
            url("../fonts/Stretto-Regular.woff2")format("woff2"),
            url("../fonts/Stretto-Regular.woff")format("woff"),
            url("../fonts/Stretto-Regular.ttf")format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Eesti Display';
    src: url('../fonts/GT-Eesti-Display-Light.eot');
    src: url('../fonts/GT-Eesti-Display-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GT-Eesti-Display-Light.woff2') format('woff2'),
        url('../fonts/GT-Eesti-Display-Light.woff') format('woff'),
        url('../fonts/GT-Eesti-Display-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Eesti Display';
    src: url('../fonts/GT-Eesti-Display-Medium.eot');
    src: url('../fonts/GT-Eesti-Display-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GT-Eesti-Display-Medium.woff2') format('woff2'),
        url('../fonts/GT-Eesti-Display-Medium.woff') format('woff'),
        url('../fonts/GT-Eesti-Display-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Eesti Display';
    src: url('../fonts/GT-Eesti-Display-Bold.eot');
    src: url('../fonts/GT-Eesti-Display-Bold?#iefix') format('embedded-opentype'),
        url('../fonts/GT-Eesti-Display-Bold.woff2') format('woff2'),
        url('../fonts/GT-Eesti-Display-Bold.woff') format('woff'),
        url('../fonts/GT-Eesti-Display-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roman Grotesque';
    src: url('../fonts/RomanGrotesque-Bold.eot');
    src: url('../fonts/RomanGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RomanGrotesque-Bold.woff2') format('woff2'),
        url('../fonts/RomanGrotesque-Bold.woff') format('woff'),
        url('../fonts/RomanGrotesque-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font-text;
    @include fs-sm;
    line-height: 1.34;
    letter-spacing: unset;
    background-color: $white;
    color: $primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
    line-height: 1;
}

.customer h2 {
    margin-top: 2em;
}

p {


    &:first-child,
    &:only-child {
        margin-top: 0
    }

    &:last-child,
    &:only-child {
        margin-bottom: 0
    }
}

// .brand-title {
//     padding: $gutter/4*9 $gutter;
//     // height: 100%;
//     // font-family: $font-brand;
//     // text-transform: uppercase;
//     // @include fs-xxxl-clamp;
//     padding-bottom: 0;

//     @media (max-width: $sm){
//         padding: $gutter $gutter/2 0 $gutter/2;
//     }
// }


