.section {

}

.section--top-b,
.section--bottom-b,
.section--both-b {
    position: relative;

    &:before,
    &:after {
        position: absolute;
        display: block;
        left: $gutter;
        width: calc(100% - #{$gutter * 2});
        height: 4px;
        background: repeating-linear-gradient(90deg, $black, $black 10px,transparent 10px,transparent 20px);
        background-size: calc(100% + 20px) 100%;
        animation: animBgBorder .5s linear infinite;

        @media (max-width: $sm){
            left: $gutter/2;
            width: calc(100% - #{$gutter});
        }
    }
}

.section--top-b {

    &:before {
        content: "";
        top: -2px;
    }

}

.section--bottom-b {
    &:after {
        content: "";
        bottom: -2px;
    }
}

.section--both-b {

    &:before {
        content: "";
        top: -2px;
    }

    &:after {
        content: "";
        bottom: -2px;
    }

}

.section--viewport {
    width: 100%;
    height: 100vh;
    height: 100svh;

    @media (max-width: $sm){
        height: calc(100vh - 70px);
        height: calc(100svh - 70px);
    }
} 

.section--product-slide {
    position: relative;
    overflow: hidden;
}

.section--region-slider {
    // height: 80vh;
    // height: 50vw;
}

.section--social-marquee {
    // padding: $gutter 0;
    // height: 50vh
}

.section--full-img {
    margin: $gutter/4*9 0;

    @media (max-width: $sm){
        margin: $gutter 0;
    }
}

.title {
    @include fs-xxl-clamp;
    line-height: 1.15;
}