.block--single-product {
    // height: 100vh;
}

.single-product:not(body) {
    display: flex;
    
    @media (orientation: portrait) {
        display: unset;
    }
}

.single-product__side {
    flex: 0 0 50%;
    max-width: 50%;

    // @media (max-width: $lg){
    //     flex: 0 0 100%;
    //     max-width: 100%;
    // }

    @media (orientation: portrait) {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.single-product__side--media {
    position: sticky;
    top: 0;
    height: 100vh;
    padding: calc(95px + $gutter) $gutter $gutter;
    overflow: hidden;

    .swiper {
        height: 100%;
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    // @media (max-width: $lg){
    //     position: relative;
    //     padding: calc(95px + $gutter) $gutter*3 $gutter;
    //     height: 75vh;
    //     height: 75svh;
    // }

    @media (orientation: portrait) {
        position: relative;
        height: 75vh;
        height: 75svh;
    }

    @media (max-width: $sm){
        padding: calc(85px + $gutter/2) $gutter/2 $gutter;
    }
}

.single-product__side--text {
    container-type: inline-size;
    padding: calc(134px + $gutter) $gutter $gutter;

    @media (orientation: portrait) {
        padding: $gutter*2 $gutter;
    }

    // @media (orientation: portrait) and (max-width: $md){
    //     padding: $gutter*2 $gutter;
    // }

    @media (max-width: $sm){
        padding: $gutter $gutter/2;
    }
}

.single-product__title {
    --numOfLetter: 1;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: $font-brand;
    @include fs-biggest-clamp--half;
    font-size: min(30rem,250cqw/var(--numOfLetter));
    margin: -.25em 0 5rem 0;

    // @media (max-width: $lg){
    //     @include fs-biggest-clamp;
    // }

    @media (orientation: portrait) {
        @include fs-biggest-clamp;
        font-size: min(20rem,250cqw/var(--numOfLetter));
        margin: -.25em 0 2.5rem 0;
    }
}

.single-product__sup {
    display: block;
    font-family: $font-serif;
    @include fs-lg;
    text-transform: uppercase;
    margin-bottom: 1.7em;
    
    @media (orientation: portrait){
        @include fs-md;
        margin-bottom: .85em;
    }

    @media (max-width: $sm) {
        @include fs-sm;
    }
}

.single-product__intro {
    margin-bottom: $gutter*2;
    font-weight: 300;
}

.anim-bg-1 {
    @include background-anim-1;
}

.anim-bg-2 {
    @include background-anim-2;
}

.anim-bg-3 {
    @include background-anim-3;
}