.block--intro {
    display: flex;
    padding: $gutter/4*9 $gutter;
    // min-height: 85svh;
    overflow: hidden;

    @media (max-width: $sm){
        padding: $gutter $gutter/2;
    }
}

.intro {
    position: relative;
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    // p {
    //     @include fs-md;
    //     font-family: $font-serif;
    //     text-transform: uppercase;
    // }
}

.intro__title {
    width: 100%;
    max-width: 175rem;
    margin-bottom: 1em;
}

.intro__circle {
    --speed: 20s;
    // position: absolute;
    align-self: flex-end;
    bottom: $gutter;
    right: $gutter;
    width: 50%;
    max-width: 750px;
    animation: turn var(--speed) linear infinite;
    overflow: visible;
    font-family: $font-serif;
    text-transform: uppercase;
    @include fs-xl;
}

// @keyframes turn {
//     from {
//         transform: rotate(0) translate3d(0, 0, 0);
//     }

//     to {
//         transform: rotate(-360deg) translate3d(0, 0, 0);
//     }
// }
