.block--pasta-form {
    
    .title {
        margin-bottom: $gutter/4*6;
    }
}

.pasta-form {
    form {
        position: relative;
    }

    .wpcf7-form-control.wpcf7-checkbox {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: $gutter;

        @media (max-width: $lg){
            grid-template-columns: 1fr;
        }
    }

    .wpcf7-list-item {
        padding: 0;
        margin: 0;
    }

    .wpcf7-list-item-label {
        // display: flex;
        line-height: .8;
        vertical-align: baseline;
        cursor: pointer;

        &:before {
            content: "";
            display: inline-block;
            width: calc(0.57em - 20px);
            height: calc(0.57em - 20px);
            padding: 10px;
            border: 4px solid $black;
            border-radius: .6rem;
            margin-right: .5em;
            background-clip: content-box;
            transition: background-color .15s ease-out, transform .15s ease-out, box-shadow .15s ease-out;
            box-shadow: 0em 0em 0px 0px $black;
            
        }

        &.isSplit {
            display: flex;
            align-items: flex-end;
        }
    }

    [type="checkbox"] {
        display: none!important;

        &:checked + .wpcf7-list-item-label:before {
            background-color: $yellow;
            transform: translate3d(-0.1em,-0.1em,0);
            box-shadow: .1em .1em 0px 0px $black;
        }
    }

    label {
        display: block;
        width: 100%;
        text-transform: uppercase;
        font-family: $font-brand;
        // @include fs-xxxl-clamp;
        font-size: clamp(5rem,5vw,10rem);
        border-bottom: 4px solid $black;
        padding-bottom: .25em;
        cursor: pointer;

        &:hover {

            .wpcf7-list-item-label:before {
                transform: translate3d(-0.1em,-0.1em,0);
                box-shadow: .1em .1em 0px 0px $black;
                transition: background-color .15s cubic-bezier(.68,-0.55,.27,1.55), transform .35s cubic-bezier(.68,-0.55,.27,1.55), box-shadow .35s cubic-bezier(.68,-0.55,.27,1.55);
            }
        } 
    }

    p {
        margin: 0;
    }

    .cta {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;

        p {
            position: relative;
            flex: 0 0 calc(100% - #{$gutter/2});

            @media (max-width: $lg){
                flex: 0 0 100%;
                margin-top: $gutter;
            }
        }

        @media (max-width: $lg){
            position: relative;
            width: 100%;
        }
    }

    .btn {
        // transform: translate3d(0, -100%, 0);
        width: 100%;

        @media (max-width: $lg){
            transform: none;
        }
    }

    .wpcf7-spinner {
        position: absolute;
        right: 0;
        top: 31%;
        z-index: 10;
    }

    .letter-measure {
        cursor: pointer;

         @for $i from 1 through 100 {
            &:nth-of-type(#{$i}) {
                animation-delay: $i*.02s;
            }
        }
    }

    .wpcf7-response-output {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate3d(0, 100%, 0);
        margin: 0!important;
        padding: $gutter/4 0 0 0!important;
        border: none!important;
        @include fs-xs;

        @media (max-width: $lg){
            position: unset;
            width: 100%;
            text-align: right;
            transform: none;
        }
    }

    .wpcf7-not-valid-tip {
        padding: $gutter/4 0 0 0!important;
        @include fs-xs;
    }

    [type="checkbox"]:checked + .wpcf7-list-item-label .letter-measure {
        animation-name: smallBounceColor;
        animation-duration: 1s;
        animation-fill-mode: both;
        transform-origin: center bottom;
    }
}

