.block--full-img {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    color: $white;
    padding: $gutter;
}

.full-img__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // height: 100vh;
    // height: 100svh;
    height: 100%;
    z-index: -1;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.full-img__text {
    width: 100%;
    max-width: 175rem;
    margin-bottom: .75em;
}

.full-img__cta {

}