.block--product-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;


    &:not(:first-child){
        top: 100%;
    }
}

.product-slide {
    position: relative;
    display: flex;
    height: 100%;
    padding: $gutter;
    background-color: $white;

    &--right {
        justify-content: flex-end;
    }

    &--1 {
        background: repeating-linear-gradient(80deg,$white 0%,$white .75%,$red .75%,$red 2%);
        background-size: 1000% 100%;
        animation: animBg 200s linear infinite;
    }

    &--2 {
background-image:  repeating-linear-gradient(45deg, $green 25%, transparent 25%, transparent 75%, $green 75%, $green), repeating-linear-gradient(45deg, $green 25%, transparent 25%, transparent 75%, $green 75%, $green);
        background-position: 0 0, 20vw 20vw;
        background-size: 40vw 40vw;
        animation: animBgChess 10s linear infinite;
    }

    &--3 {
        background: repeating-linear-gradient(50deg,$white 0%,$white 1%,$blue 1%,$blue 2%);
        background-size: 1000% 100%;
        animation: animBg 200s linear infinite reverse;
    }

    @media (orientation: portrait) {
        flex-direction: column;
        justify-content: flex-end;

    }

    @media (max-width: $sm){
        padding: $gutter $gutter/2;
    }
}

.product-slide__media {
    width: calc(50% - #{$gutter / 2});
    height: 100%;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    @media (orientation: portrait) {
        height: 50%;
        width: 100%;
    }
}

@keyframes animBg {
    0% {
      background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
 }

 @keyframes animBgChess {
    0% {
        background-position: 0 0, 20vw 20vw;
    }
    100% {
        background-position: 20vw 20vw, 40vw 40vw;
    }
 }

.product-slide__front {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;

    @media (orientation: portrait) {
        height: 50%;
    }
}

.product-slide__sup {
    order: 1;
    font-family: $font-serif;
    @include fs-lg;
}

.product-slide__title {
    font-family: $font-brand;
    @include fs-biggest-clamp;
    display: flex;
    margin: -.25em 0 0 0;
    order: 2;

    a {
        display: flex;
        text-decoration: none;
        color: inherit;
    }
}

.product-slide__letter {
    line-height: 1;

    &--upper {
        text-transform: uppercase;
    }

    a:hover &,
    .product-slide__cta:hover + .product-slide__title a & {
        animation-name: smallBounce;
        animation-duration: 1s;
        animation-fill-mode: both;
        transform-origin: center bottom;
    }



    &:nth-child(2){
        animation-delay: .05s;
    }

    &:nth-child(3){
        animation-delay: .1s;
    }

    &:nth-child(4){
        animation-delay: .15s;
    }

    &:nth-child(5){
        animation-delay: .2s;
    }

    &:nth-child(6){
        animation-delay: .25s;
    }

    &:nth-child(7){
        animation-delay: .3s;
    }


    &:nth-child(8){
        animation-delay: .35s;
    }

    &:nth-child(9){
        animation-delay: .4s;
    }

    &:nth-child(10){
        animation-delay: .45s;
    }

    &:nth-child(11){
        animation-delay: .5s;
    }

    &:nth-child(12){
        animation-delay: .55s;
    }

    &:nth-child(13){
        animation-delay: .6s;
    }

    &:nth-child(14){
        animation-delay: .65s;
    }

    &:nth-child(15){
        animation-delay: .7s;
    }

    &:nth-child(16){
        animation-delay: .75s;
    }

    &:nth-child(17){
        animation-delay: .8s;
    }

    &:nth-child(18){
        animation-delay: .85s;
    }

    &:nth-child(19){
        animation-delay: .9s;
    }

    &:nth-child(20){
        animation-delay: .95s;
    }
}

.product-slide__sub {
    order: 3;
}

.product-slide__cta {
    order: 4;
}