.block--just-text {

}

.just-text {
    display: flex;
    @include fs-lg-clamp;

    &--sm {
        @include fs-sm-clamp;
    }

    &--md {
        @include fs-lg-clamp;
    }

    &--lg {
        @include fs-xl-clamp;
    }

    &--xl {
        @include fs-xxl-clamp;
    }

    &--full-height {
        flex-direction: column;
        height: 1px;
        min-height: calc(100svh - (9rem * 2));

        @media (max-width: $md){
            min-height: calc(100svh - (4rem * 2));
        }
    }

    &--top {
        justify-content: flex-start;
    }

    &--center {
        justify-content: center;
    }

    &--bottom {
        justify-content: flex-end;
    }

    &--full-width {

    }

    &--column {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: $gutter;

        > div {
            grid-column: 3 / 11;
        }
        

        @media (max-width: $lg){

            > div {
                grid-column: 2 / 12;
            }
            
        }
        
        @media (max-width: $md){
            display: flex;
        }
    }

    &--breath {
        > div {
            padding-top: calc(10em/3);
            padding-bottom: calc(10em/3);
        }
    }
    
    a {
        color: inherit;
    }
    

}

// .block--just-text {
//     height: 100%;

//     &--fh { // full height
//         height: 1px;
//         min-height: 100svh;
//     }

//     p {
//         width: 100%;
//         max-width: 175rem;
//     }
// }

// .just-text {
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-end;

//     &--top {
//         justify-content: flex-start;
//     }

//     &--center {
//         justify-content: center;
//     }

//     &--bottom {
//         justify-content: flex-end;
//     }

//     .cta {
//         margin-bottom: $gutter;
//     }
// }

// .just-text--small,
// .just-text--centered {
//     display: grid;
//     grid-template-columns: repeat(12, 1fr);
//     grid-gap: $gutter;

//     >div {
//         // grid-area: 1 / 3 / 2 / 11;
//         grid-column: 3 / 11;
//         @include fs-lg;
//     }

//     @media (max-width: $lg){
//         >div {
//             grid-column: 2 / 12;
//             @include fs-md;
//         }
//     }

//     @media (max-width: $md){
//         display: flex;
        
//         >div {
//             @include fs-sm;
//         }
//     }
// }

// .section--just-text + .section--just-text .block--just-text {
//     padding-top: 0;
// }