.block--single-product {
    // height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
    padding: 0;

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: visible;

        > div {
            box-shadow: 0 0 50px 10px rgba(0,0,0,0.25);
            padding: 1.75cqh;
            border-radius: 1.75cqh;
            background-color: white;
        }
    }

}

.single-product:not(body) {
    display: flex;
    
    @media (orientation: portrait) {
        display: unset;
    }
}

.single-product__side {
    flex: 0 0 50%;
    max-width: 50%;

    // @media (max-width: $lg){
    //     flex: 0 0 100%;
    //     max-width: 100%;
    // }

    @media (orientation: portrait) {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.single-product__side--media {
    container-type: size;
    position: sticky;
    top: 0;
    height: 100vh;
    padding: calc(95px + $gutter) $gutter $gutter;
    overflow: hidden;
    box-shadow: inset -1.5cqw -1.5cqw 1.5cqw -.75cqw rgba($black, .1);

    .swiper {
        height: 100%;
    }

    img {
        display: block;
        // width: 100%;
        height: 100%;
        // object-fit: cover;
        object-fit: contain;
        object-position: center;
        max-height: 90cqh;
        max-width: 80cqw;
        border-radius: calc(1.75cqh/2);
    }

    // &:after {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 100%;
    //     display: block;
    //     width: 20px;
    //     height: 100%;
    //     // box-shadow: 0 0 5cqw 0px var(--color);
    //     box-shadow: 0 0 5cqw 0px black;
    //     z-index: 10;
    //     opacity: .35;
    // }

    // @media (max-width: $lg){
    //     position: relative;
    //     padding: calc(95px + $gutter) $gutter*3 $gutter;
    //     height: 75vh;
    //     height: 75svh;
    // }

    @media (orientation: portrait) {
        position: relative;
        height: 75vh;
        height: 75svh;

        &:after {
            top: 100%;
            left: 0;
            width: 100%;
            height: 20px;
        }
    }

    @media (max-width: $sm){
        padding: calc(85px + $gutter/2) $gutter/2 $gutter;
    }
}

.single-product__swiper {
    opacity: 0;
    transform: scale(.95);
    transition: all .25s ease-in-out;

    &.swiper-initialized {
        opacity: 1;
        transform: scale(1);
    }
}

.single-product__side--text {
    container-type: inline-size;
    padding: calc(134px + $gutter) $gutter*2 $gutter;
    // margin-top: 10vh;

    body.single-product & {
        margin-top: 10vh;
    }

    .price {
        
        text-align: center;
        font-weight: 200;
        margin-bottom: 5rem;
    }

    .woocommerce-variation-price,
    .woocommerce-info {
        display: block;
        text-align: center;
        margin: 1em 0 0 0;
        margin: 0;
    }

    .variations_button {
        margin-top: 1em;
        display: flex;
        justify-content: center;
    }

    .notice {
        text-align: center;
        font-weight: 200;
        @include fs-xs;
    }

    .product_meta,
    .tabs.wc-tabs,
    .reset_variations {
        display: none;
    }

    .variations {
        margin-bottom: 5rem;
        margin-bottom: 5rem;
        padding: $gutter/4*3;
        background: var(--color, $yellow);
        color: var(--txt-color, $black);
        border-radius: $gutter/2;
        box-shadow: 0 0 10px 10px #00000012;
        border: 6px solid white;
    }

    select {
        padding: .5em;
        background-position-y: 7px;
        border: none;
    }

    @media (orientation: portrait) {
        padding: $gutter*2 $gutter;
    }

    @media (max-width: $sm){
        padding: $gutter $gutter/2;
    }
}

.woocommerce-product-details__short-description {
    text-align: center;
    @include fs-md;
    margin-bottom: 5rem;
}

.variations_form.cart {
    display: flex;
    flex-direction: column;
    align-items: center;

    tbody {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        gap: $gutter/4*3;
    }

    label {
        margin-right: .75rem;
    }

    tr {
        display: flex;   
        align-items: center;
    }

    .label {
        flex: 0 0 auto;
    }

    .value {
        flex: 1 1 100%;
    }

    @container (width < 700px) {
        tbody {
            grid-auto-flow: row;
            gap: $gutter/4;
        }
    }
}

.wc-tabs-wrapper {
    margin-top: $gutter*3;
}

.swiper-slide-shadow {
    display: none;
}

.single-product__title {
    --numOfLetter: 1;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: $font-brand;
    @include fs-biggest-clamp--half;
    font-size: min(30rem,250cqw/var(--numOfLetter));
    margin: -.25em 0 3rem 0;
    text-align: center;
    line-height: .75;
    // @media (max-width: $lg){
    //     @include fs-biggest-clamp;
    // }

    @media (orientation: portrait) {
        @include fs-biggest-clamp;
        font-size: min(20rem,250cqw/var(--numOfLetter));
        margin: -.25em 0 2.5rem 0;
    }
}

.single-product__sup {
    display: block;
    font-family: $font-serif;
    @include fs-lg;
    text-transform: uppercase;
    margin-bottom: 1.7em;
    
    @media (orientation: portrait){
        @include fs-md;
        margin-bottom: .85em;
    }

    @media (max-width: $sm) {
        @include fs-sm;
    }
}

.single-product__intro {
    margin-bottom: $gutter*2;
    font-weight: 300;
}

.anim-bg-1 {
    @include background-anim-1;
}

.anim-bg-2 {
    @include background-anim-2;
}

.anim-bg-3 {
    @include background-anim-3;
}