.block--product-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0;

    &:not(:first-child){
        top: 100%;
        // height: calc(100% + 50vh);
        // padding-top: 50vh;
    }
}

.product-slide {
    // position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
    padding: $gutter;
    background-color: $white;

    &--right {
        // justify-content: flex-end;
        flex-direction: row-reverse;
    }

    // &--1 {
    //     // @include background-anim-1;
    // }

    // &--2 {
    //     // @include background-anim-2;
    // }

    // &--3 {
    //     // @include background-anim-3;
    // }

    @media (orientation: portrait) {
        flex-direction: column;
    }

    @media (max-width: $sm){
        padding: $gutter/2 $gutter/2;
    }
}

.product-slide__media {
    position: relative;
    // width: calc(50% - #{$gutter / 2});
    // flex: 0 0 calc(50% - #{$gutter / 2});
    flex: 0 1 calc(50% - 2rem);
    // height: 100%;
    // background-color: blue;

    img {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    // @media (orientation: portrait) {
    //     height: 50%;
    //     width: 100%;
    // }
}

.product-slide__front {
    container-type: inline-size;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    flex: 0 0 calc(50% - #{$gutter / 2});
    text-align: center;

    @media (orientation: portrait){
        padding-top: 2rem;
    }

    // @media (orientation: portrait) {
    //     height: 50%;
    //     width: 100%;
    //     // flex: 0 0 calc(50% - #{$gutter / 2});
    // }
}

.product-slide__sup {
    order: 1;
    font-family: $font-serif;
    @include fs-lg;
    text-transform: uppercase;
    margin-bottom: 1.7em;
    
    @media (orientation: portrait){
        @include fs-md;
        margin-bottom: .85em;
    }

    @media (max-width: $sm) {
        @include fs-sm;
    }
}

.product-slide__title {
    --numOfLetter: 1;
    font-family: $font-brand;
    @include fs-biggest-clamp;
    // font-size: min(10rem, 100vw / var(--numOfLetter));
    font-size: min(30rem,250cqw/var(--numOfLetter));
    // font-size: calc(250cqw/var(--numOfLetter));
    display: flex;
    margin: -.25em 0 5rem 0;
    order: 2;

    a {
        display: flex;
        text-decoration: none;
        color: inherit;
    }

    @media (orientation: portrait){
        @include fs-biggest-clamp;
        font-size: min(20rem,250cqw/var(--numOfLetter));
        margin: -.25em 0 2.5rem 0;
    }

    // @media (max-width: $md) {
    //     @include fs-biggest-clamp;
    // }
}

.product-slide__letter {
    line-height: 1;

    &--upper {
        text-transform: uppercase;
    }

    a:hover &,
    .product-slide__cta:hover + .product-slide__title a & {
        animation-name: smallBounce;
        animation-duration: 1s;
        animation-fill-mode: both;
        transform-origin: center bottom;
    }



    &:nth-child(2){
        animation-delay: .05s;
    }

    &:nth-child(3){
        animation-delay: .1s;
    }

    &:nth-child(4){
        animation-delay: .15s;
    }

    &:nth-child(5){
        animation-delay: .2s;
    }

    &:nth-child(6){
        animation-delay: .25s;
    }

    &:nth-child(7){
        animation-delay: .3s;
    }


    &:nth-child(8){
        animation-delay: .35s;
    }

    &:nth-child(9){
        animation-delay: .4s;
    }

    &:nth-child(10){
        animation-delay: .45s;
    }

    &:nth-child(11){
        animation-delay: .5s;
    }

    &:nth-child(12){
        animation-delay: .55s;
    }

    &:nth-child(13){
        animation-delay: .6s;
    }

    &:nth-child(14){
        animation-delay: .65s;
    }

    &:nth-child(15){
        animation-delay: .7s;
    }

    &:nth-child(16){
        animation-delay: .75s;
    }

    &:nth-child(17){
        animation-delay: .8s;
    }

    &:nth-child(18){
        animation-delay: .85s;
    }

    &:nth-child(19){
        animation-delay: .9s;
    }

    &:nth-child(20){
        animation-delay: .95s;
    }
}

.product-slide__sub {
    order: 3;
    margin: .2em 0 1em 0;
    text-transform: uppercase;
    @include fs-lg;
    font-weight: bold;

    @media (orientation: portrait){
        @include fs-md;
        margin: .2em 0 .5em 0;
    }

    @media (max-width: $sm) {
        @include fs-sm;
    }
}

.product-slide__cta {
    order: 4;
}