.block--intro {
    display: flex;
    padding: $gutter/4*9 $gutter;
    // min-height: 85svh;
    overflow: hidden;

    @media (max-width: $sm){
        padding: $gutter $gutter/2;
    }
}

.intro {
    position: relative;
    flex: 0 0 100%;
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media (orientation: portrait){
        flex-direction: column;
        justify-content: center
    }
}

.intro__title {
    // width: 100%;
    flex: 0 1 calc((100%/3*2) - 1rem);
    max-width: 175rem;
    margin-bottom: 1em;
    // background-color: blue;
}

.intro__circle {
    --speed: 20s;
    // position: absolute;
    // align-self: flex-end;
    bottom: $gutter;
    right: $gutter;
    // width: 50%;
    flex: 0 0 calc(100%/3);
    max-width: calc((100%/3) - 1rem);
    // animation: turn var(--speed) linear infinite;
    overflow: visible;
    font-family: $font-serif;
    text-transform: uppercase;
    @include fs-xl;
    // background-color: red;

    @media (orientation: portrait){
        max-width: 50%;
        width: 50%;
    }

    @media (max-width: $sm){
        max-width: 75%;
        width: 75%;
    }
}

// @keyframes turn {
//     from {
//         transform: rotate(0) translate3d(0, 0, 0);
//     }

//     to {
//         transform: rotate(-360deg) translate3d(0, 0, 0);
//     }
// }
