.topbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: $yellow;
    @include fs-lg;
    // padding-top: $gutter*3/4;
    padding: calc($gutter/8*3 + 24.6px) $gutter $gutter/8*3 $gutter/8*3;
    // mix-blend-mode: difference;
    z-index: 500;

    @media (max-width: $xl){
        @include fs-md;
    }

    @media (max-width: $lg){
        @include fs-sm;
    }

    @media (max-width: $md){
        justify-content: space-between;
        // background-color: $white;
        padding: calc($gutter/8*3 + 24.6px) $gutter/8*3 $gutter/8*3;
        mix-blend-mode: unset;
    }

    // @media (max-width: $sm){
    //     padding: $gutter/2 $gutter/2;
    // }
}

.topbar__nav {
    flex: 1 1 100%;

    ul {
        @include clean-list;   
        display: flex; 
        justify-content: flex-end;
        gap: 1.5em;

        // @media (max-width: $lg){
        //     gap: 1.5em;
        // }
    }

    li {
        transition: transform .2s ease-in-out, opacity .2s ease-in-out, visibility .2s ease-in-out;

        &:nth-child(2) {
            transition-delay: .05s;
        }

        // .topbar--is-scrolled & {
        //     transform: translate3d(0, -50%, 0);
        //     opacity: 0;
        //     visibility: hidden;

        //     &:nth-child(1) {
        //         transform: translate3d(0, -100%, 0) rotate(-10deg);
        //     }

        //     &:nth-child(2) {
        //         transform: translate3d(0, -100%, 0) rotate(10deg);
        //     }
        // }

        &:nth-child(even) a:hover {
            transform: translate3d(0, 0, 0) rotate(-4deg) scale(1.1);
        }
    
        &:nth-child(odd) a:hover {
            transform: translate3d(0, 0, 0) rotate(4deg) scale(1.1);
        }
    }

    a {
        display: block;
        text-decoration: none;
        color: $black;
        // color: $white;
        transition: transform .35s cubic-bezier(.68,-0.55,.27,1.55);
        white-space: nowrap;
        text-align: center;
        font-family: $font-serif;

    }

    @media (max-width: $md){
        display: none;
    }


}

.topbar__nav--left {


}

.topbar__nav--right {

}

.topbar__logo {
    display: block;
    flex: 0 0 165px;
    margin: 0;
    transform-origin: top left;
    transition: transform .35s cubic-bezier(.68,-0.55,.27,1.55);

    // .topbar--is-scrolled & {
    //     transform: scale(.75);
    // }

    @media (max-width: $xl){
        // flex: 0 0 250px;
    }

    @media (max-width: $lg){
        // flex: 0 0 200px;
        // margin: 0 2em;
    }

    @media (max-width: $md){
        transform-origin: top left;
        // margin: 0;
        flex: 0 0 125px;
        transform: none!important;
    }
}

.topbar__logo__svg {
    display: block;
    width: 100%;
    overflow: visible;
}

.topbar__logo__letter {
    // fill: $white;
    fill: $black;

    .topbar__logo:hover & {
        animation-name: bounce;
        animation-duration: 1s;
        animation-fill-mode: both;
        transform-origin: center bottom;
    }

    &:nth-child(2){
        animation-delay: .05s;
    }

    &:nth-child(3){
        animation-delay: .1s;
    }

    &:nth-child(4){
        animation-delay: .15s;
    }

    &:nth-child(5){
        animation-delay: .2s;
    }

    &:nth-child(6){
        animation-delay: .25s;
    }

    &:nth-child(7){
        animation-delay: .3s;
    }

    @media (max-width: $md){
        fill: $black;
        // opacity: 1!important;
        // visibility: visible!important;
        // transform: none!important;
    }

}

.mobile-nav {
    // --top-left-clip: 0;
    // --top-right-clip: 0;
    // --bottom-left-clip: 0;
    // --bottom-right-clip: 0;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: $white;
    height: 100vh;
    width: 100%;
    padding: $gutter;
    @include fs-lg;
    z-index: 450;
    // clip-path: polygon(0 var(--top-left-clip), 100% var(--top-right-clip), 100% var(--bottom-right-clip), 0 var(--bottom-left-clip));
    // transition: all 0.35s cubic-bezier(0.68,-0.55,0.27,1.55);

    ul {
        @include clean-list;
        text-align: center;
    }

    a {
        color: inherit;
        text-decoration: none;
        font-family: $font-serif;
    }

    &--is-open {
        // --bottom-left-clip: 100%;
        // --bottom-right-clip: 100%;
        display: flex;
    }

    @media (max-width: $sm){
        padding: $gutter/2;
    }
}

.topbar__marquee {
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $black;
    color: $white;
    @include fs-xs;
    padding: .35rem 0 .1rem;
    z-index: 700;
    transform-origin: top center;

    span {
        line-height: 1;
        font-weight: 300;
        padding: 0 10rem;
        text-transform: uppercase;
    }

    // @media (max-width: $md){
    //     visibility: hidden;
    // }
}