.title-pattern {
    --how-many-letter: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    font-family: $font-brand;
    text-align: center;
    text-transform: uppercase;

    h1, h2, h3 {
        line-height: .75;
        margin-top: -.15em;
    }

    &--sm {
        @include fs-xxxl-clamp;
    }

    &--lg {
        @include fs-biggest-clamp;
    }

    &--adaptive {
        font-size: calc(100vw / (var(--how-many-letter) - .5));
    }

    &:first-child {
        padding-top: 94px;

        @media (max-width: $md){
            padding-top: 85px;
        }
    }

    @media (orientation: portrait){
        min-height: 50vh;
        min-height: 50svh;
    }
}