.prev-next {
    position: absolute;



    .region-slider & {
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        display: flex;
        justify-content: space-between;
        width: calc(100% + #{$gutter * 4});
        z-index: 10;
    }

}

.prev-next__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
    background-color: $white;
    color: $yellow;
    border: 2px solid $black;
    font-family: $font-text;
    transform: translate3d(0, 0, 0) scale(1);
    transition: all 0.15s cubic-bezier(0.68,-0.55,0.27,1.55);



    &--prev {
        transform: rotate(180deg);
        &:hover {
            transform: rotate(180deg) translate3d(0, 0, 0) scale(1.05);
        }

        &:active {
            transform: rotate(180deg) translate3d(0, 0, 0) scale(.95);
        }

    }

    &--next {
        &:hover {
            transform: translate3d(0, 0, 0) scale(1.05);
        }

        &:active {
            transform: translate3d(0, 0, 0) scale(.95);
        }
    }

    &:hover {
        color: $black;
        background-color: $yellow;
    }
}