.table {
    border: 4px solid $black;
    margin-bottom: $gutter/2;

    &--rounded {
        border-radius: $gutter;
        overflow: hidden;
    }

    &--no-margin-b {
        margin-bottom: 0;
    }

    .row {
        display: flex;
        border-top: 4px solid $black;
    }

    .col {
        padding: $gutter/2;
        flex: 1 1 50%;
    
        &:first-child {
            flex: 1 1 100%;
        }
    
        &--dark {
            background-color: $black;
            color: $white;
        }
    }

    .row--col-border {
        .col:not(:last-child) {
            border-right: 4px solid $black;
        }
    }
}

// .table__row {
//     display: flex;
//     border-top: 4px solid $black;
//     // margin-top: -4px;
// }

// .table__col {
//     padding: $gutter/2;
//     flex: 1 1 50%;

//     &:first-child {
//         flex: 1 1 100%;
//     }

//     &--dark {
//         background-color: $black;
//         color: $white;
//     }
// }

// .table__row--col-border {
//     .table__col:not(:last-child) {
//         border-right: 4px solid $black;
//     }
// }

.simple-table {
    border-top: 4px solid $black;
    border-bottom: 4px solid $black;
    margin-bottom: $gutter/2;

    &--no-border-t {
        border-top: none;
    }

    &--no-border-b {
        border-bottom: none;
    }

    .row {
        display: flex;
    }

    .col {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 100%;
        padding: $gutter/2;

        &:not(:last-child) {
            border-right: 4px solid black;
        }
    }
}

